
@{
    ViewBag.Title = "Index";
}


<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical files-manager">
            <nav class="files-manager-side">
                <header class="files-manager-side-title">Subjects</header>
                <ul class="files-manager-side-list">
                    <li><a href="#" class="active">Maths</a></li>
                </ul>
            </nav><!--.files-manager-side-->

            <div class="files-manager-panel">
                <div class="files-manager-panel-in">
                    <header class="files-manager-header">
                        <div class="files-manager-header-left">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Create Lesson Plan
                            </button>
                        </div>
                        <div class="files-manager-header-right">

                            <div class="search">
                                <input type="text" class="form-control form-control-rounded" placeholder="Search" />
                                <button type="submit" class="btn-icon"><i class="font-icon font-icon-search"></i></button>
                            </div>
                        </div>
                    </header><!--.files-manager-header-->

                    <div class="files-manager-content">
                        <div class="files-manager-content-in scrollable-block">
                            <div class="fm-file-grid">
                                <a class="fm-file selected" href="@Url.Action("ListModulesAndTopics","LessonPlans")">
                                    <div class="fm-file-icon">
                                        <img src="~/Content/UI/img/folder.png" alt="">
                                    </div>
                                    <div class="fm-file-name">App design assets</div>
                                    <div class="fm-file-size">7 files, 358 MB</div>
                                </a>
                                <a class="fm-file" href="@Url.Action("ListModulesAndTopics","LessonPlans")">
                                    <div class="fm-file-icon">
                                        <img src="~/Content/UI/img/folder.png" alt="">
                                    </div>
                                    <div class="fm-file-name">Inspiration</div>
                                    <div class="fm-file-size">144 files, 52 MB</div>
                                </a>
                                <a class="fm-file" href="@Url.Action("ListModulesAndTopics","LessonPlans")">
                                    <div class="fm-file-icon">
                                        <img src="~/Content/UI/img/folder.png" alt="">
                                    </div>
                                    <div class="fm-file-name">2014_projects.rar</div>
                                    <div class="fm-file-size">4 MB</div>
                                </a>
                                <a class="fm-file" href="@Url.Action("ListModulesAndTopics","LessonPlans")">
                                    <div class="fm-file-icon">
                                        <img src="~/Content/UI/img/file.png" alt="">
                                    </div>
                                    <div class="fm-file-name">Inspiration</div>
                                    <div class="fm-file-size">7 files, 358 MB</div>
                                </a>
                            </div>
                        </div><!--.files-manager-content-in-->
                    </div><!--.files-manager-content-->

                    <section class="files-manager-aside">
                        <div class="files-manager-aside-section">
                            <div class="box-typical-header-sm">Lesson Plan Name</div>
                            <div class="info-list">
                                <p>Modules: 5</p>
                                <p>Topics: 7</p>
                            </div>
                            <a href="@Url.Action("ListModulesAndTopics","LessonPlans")" class="btn btn-rounded"><i class="font-icon-left font-icon-download-3"></i>View Details</a>
                        </div>

                    </section><!--.files-manager-aside-->
                </div><!--.files-manager-panel-in-->
            </div><!--.files-manager-panels-->
        </section><!--.files-manager-->
    </div><!--.container-fluid-->
</div><!--.page-content-->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lesson Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" id="lessonPlanName" placeholder="Enter Lesson Plan Name"/>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="lessonPlanDescription" placeholder="Lesson Plan Description"></textarea>
                </div>
                <a href="#" class="link add_module">+ Add Module</a>
                <div class="module_container">
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="createLessonPlan">Create</button>
            </div>  
        </div>
    </div>
</div>

@section scripts
    {

    <script>
  
        $(document).ready(function () {
         
            $('.add_module').click(function () {
                let html = `<div><div class="form-group">
                    <input class="form-control moduleName" placeholder="Enter Module Name"/>
                </div>
                <div class="form-group">
                    <textarea class="form-control moduleDescription" placeholder="Module Description"></textarea>
                </div>
                <a href="#" class="link remove_module" style="color:red">- Remove Module</a></div>`; 
                $('.module_container').append(html);
            });

            $('#createLessonPlan').click(function () {
                var lessonPlanName = $('#lessonPlanName').val();
                var lessonPlanDescription = $('#lessonPlanDescription').val();
                let moduleNameAndDescription = [];
                moduleNameAndDescription["module_Name"] = [];
                moduleNameAndDescription["module_Description"] = [];
                $('.moduleName').each(function () {
                    moduleNameAndDescription["module_Name"].push(this.value);
                });
                $('.moduleDescription').each(function () {
                    moduleNameAndDescription["module_Description"].push(this.value);
                });

                $.ajax({
                    method:"POST",
                    url: "@Url.Action("CreateLessonPlan", "LessonPlans")",
                    data: {
                        LessonPlanName: lessonPlanName,
                        LessonPlanDescription: lessonPlanDescription,
                        ModuleNames: moduleNameAndDescription["module_Name"],
                        ModuleDescriptions: moduleNameAndDescription["module_Description"]
                    },
              
                });
                console.log(moduleNameAndDescription);

                alert(lessonPlanName + " " + lessonPlanDescription);

            });

            $('.modal-body').on('click', '.remove_module', function () {
                $(this).closest('div').remove();
            });

           

        });
    </script>
}
