<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>StartUI - Premium Bootstrap 4 Admin Dashboard Template</title>

    <link href="~/Content/UI/img/favicon.144x144.png" rel="apple-touch-icon" type="~/Content/UI/image/png" sizes="144x144">
    <link href="~/Content/UI/img/favicon.114x114.html" rel="apple-touch-icon" type="~/Content/UI/image/png" sizes="114x114">
    <link href="~/Content/UI/img/favicon.72x72.png" rel="apple-touch-icon" type="~/Content/UI/image/png" sizes="72x72">
    <link href="~/Content/UI/img/favicon.57x57.html" rel="apple-touch-icon" type="~/Content/UI/image/png">
    <link href="~/Content/UI/img/favicon.png" rel="icon" type="~/Content/UI/image/png">
    <link href="~/Content/UI/img/favicon.html" rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="~/Content/UI/css/separate/vendor/select2.min.css">
    <link rel="stylesheet" href="~/Content/UI/css/separate/pages/files.min.css">
    <link rel="stylesheet" href="~/Content/UI/css/lib/font-awesome/font-awesome.min.css">



    <link rel="stylesheet" href="~/Content/UI/css/lib/bootstrap-sweetalert/sweetalert.css">
    <link rel="stylesheet" href="~/Content/UI/css/separate/vendor/sweet-alert-animations.min.css">


    <link rel="stylesheet" href="~/Content/UI/css/separate/vendor/bootstrap-touchspin.min.css">
    <link rel="stylesheet" href="~/Content/UI/css/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/UI/css/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/UI/css/main.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Content/UI/js/lib/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/UI/js/lib/popper/popper.min.js"></script>
    <script src="~/Content/UI/js/lib/tether/tether.min.js"></script>
    <script src="~/Content/UI/js/lib/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/UI/js/plugins.js"></script>

    <script src="~/Content/UI/js/lib/select2/select2.full.min.js"></script>
    <script src="~/Content/UI/js/lib/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/UI/js/lib/nestable/jquery.nestable.js"></script>
    <script src="~/Content/UI/js/lib/bootstrap-sweetalert/sweetalert.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#nestable').nestable({
                group: 1
            });
            $('#nestable2').nestable({
                group: 1
            });

            $('#nestable3').nestable({
                group: 2
            });
            $('#nestable4').nestable({
                group: 2
            });

            $('#nestable5').nestable({
                group: 2
            });
            $('#nestable6').nestable({
                group: 2
            });

            $('#nestable7').nestable();

            $('#nestable8').nestable();

            $('#nestable9').nestable();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
